@model IEnumerable<Shopping.Models.ProductMap>

@{
    ViewData["Title"] = "AllProductLocation";
    Layout = "MyLayout";
}

<h1>AllProductLocation</h1>

<p>
   <button> <a asp-action="Create">Create New</a> </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_id)
            </td>
            <td>
                <a asp-action="ProductLocationEdit" asp-route-id="@item.TrackId">Edit</a> |
                <a asp-action="ProductLocationDetails" asp-route-id="@item.TrackId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
