@model IEnumerable<Shopping.Models.Product>

@{
    ViewData["Title"] = "SellerOtherProducts";
}

<h1>This Seller Other Products</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Pimage)*@
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
               @* @Html.DisplayFor(modelItem => item.Pimage)*@
            </td>
           
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Product_id">Details</a> |
                <a asp-action="SellerByProductId"asp-route-id="@item.Product_id" >Back</a>
            </td>
        </tr>
}
    </tbody>
</table>
