@model IEnumerable<Shopping.Models.Seller>

@{
    ViewData["Title"] = "Index";
}

<h1>Index </h1>
<hr />   
<h1>Welcome @ViewBag.Username</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seller_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seller_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Seller_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Seller_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Seller_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
